
/*configurações gerais*/

body {
   height: 100vh;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

ul {
   list-style: none;
   padding: 0;
}

h1, p, ul {
   margin: 0;
   padding: 0;
}

a {
   color: inherit;
   text-decoration: none;
}

img {
   max-width: 100%;
   display: block;
   border-radius: 4px;
   margin-bottom: 5px;
   cursor: pointer;
}


/*configuração header*/

.header-bg {
   background-color: #F8F8F8;
   
   
}

.header {
   display: flex;
   background-color: #e9e9e9;
   padding: 20px 10px 20px 10px;
   gap: 20px;
   align-items: flex-end;
   font-weight: normal;
   box-sizing: border-box;
   width: 100%;

}

.header h1 {
   font-size: 1.5rem;
   font-family: 'Open Sans';
}

.header-menu {
   display: flex;
   gap: 10px;
}



/*-----------------------------------------------------------------------------*/

/* Configuração header a */

.header-menu a {
   position: relative; /* Necessário para o ::after */
   display: inline-block;
   padding: 5px;
   color: black;
   font-size: 1.1rem;
   text-decoration: none;
   font-family: 'Open Sans';
}

.header-menu a::after {
   content: "";
   position: absolute;
   left: 50%;  /* Começa no meio */
   bottom: 0;
   width: 0;  /* Começa sem largura */
   height: 2px;
   background-color: black;
   transition: width 0.4s ease, left 0.4s ease;
}

.header-menu a:hover::after {
   width: 100%;  /* Expande até o tamanho total */
   left: 0;  /* Move para a esquerda */
}

/* Estilo dos álbuns */
.album-container {
   display: grid;
   grid-template-columns: 1fr;
   gap: 40px;
   padding: 30px;
   justify-content: center;
   max-width: 100%;
 }
 
.album-card {
   display: grid;
   grid-template-columns: 1fr 1fr;
   
   padding-top: 20px;
   padding-bottom: 20px;

   align-items: start;
   justify-items: start ;
   
   gap: 20px;
   background-color: #fff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   overflow: hidden;
   
   transition: transform 0.3s ease;

   
   

   
   
}

 
.album-card:hover {
   transform: translateX(-1.5px);
 }
 
.album-img {
   width: auto;
   height: 100%;
   margin: 0 auto;
   object-fit: contain;
   
   cursor: pointer;
   overflow: hidden;
   border-radius: 2px;
 }
 
.album-img img {
   display: block;
   width: 400px;
   height: 100%;
   
   object-fit: cover;
   border-radius: 4px;
   transition: opacity 0.3s ease;
   
}

.album-text {
       padding: 30px;
}
 
.album-text h2 {
   margin-bottom: 10px;
   font-size: 1.2rem;
}
 
.album-text p {
   font-size: 0.9rem;
   color: #636363;
}





/* Responsividade */
@media (max-width: 768px) {
   body { 
      height: 100vh;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
   }

   .header {
      
      flex-direction: column; 
      align-items: center;
      box-sizing: border-box;
      width: 100%;
   }

   .header h1 {
         font-size: 1.5rem;  
         
   }

   .header-menu {
      flex-direction: row;
      gap: 5px;
      flex-wrap: wrap;
   }

   .album-container {
      display: flex;
      flex-direction: column;
      
   }

   .album-card {
       display: flex;
       flex-direction: column;
       
      
       
       justify-items: center ;
       align-items: center;
       margin: 0 auto;
      
   }


} 







/*Configurações do slide*/

#overlay {
   opacity: 0;
   transition: opacity 0.3s ease;
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.9);
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#overlay.active {
   opacity: 1;
}

#expanded-img {
   max-width: 100%;
   max-height: 90vh;
}

#close-btn {
   position: absolute;
   top: 20px;
   right: 30px;
   color: white;
   font-size: 40px;
   cursor: pointer;
}

#prev-btn, #next-btn {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background: rgba(255, 255, 255, 0);
   color: white;
   border: none;
   padding: 10px 15px;
   font-size: 30px;
   cursor: pointer;
   margin-left: 100px;
   margin-right: 100px;
}

#prev-btn:hover, #next-btn:hover {
   font-size: 40px;
   transition: 0.3s;
}  

#prev-btn { left: 8px; }
#next-btn { right: 8px; }

#prev-btn:hover, #next-btn:hover {
   background: rgba(255, 255, 255, 0.089);
   border-radius: 10px;
}
